* {padding: 0;
margin: 0;}
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #F2F2F2;
}
.grid__wrapper {
    display: block;
    margin: 0;
    padding: 0;
}

.grid__container {
    display: block;
    width: 1140px;
    margin: 0 auto;
    padding: 0 0px;
}

.grid__row {
    display: block;
    margin: 0 0px;
    padding: 0;
    overflow: hidden;
}

.grid__wrapper:after,
.grid__container:after,
.grid__row:after {
    content: "";
    display: table;
    clear: both;
}
.grid__column {
    position: relative;
    float: left;
    padding: 0 12px;
    overflow: hidden;
}
.grid__column-12 { width: 100%; }
.grid__column-11 { width: 91.666666666667%; }
.grid__column-10 { width: 83.333333333333%; }
.grid__column-9 {  width: 75%; }
.grid__column-8 {  width: 66.666666666667%; }
.grid__column-7 {  width: 58.333333333333%; }
.grid__column-6 {  width: 50%; }
.grid__column-5 {  width: 41.666666666667%; }
.grid__column-4 {  width: 33.333333333333%; }
.grid__column-3 {  width: 25%; }
.grid__column-2 {  width: 16.666666666667%; }
.grid__column-1 {  width: 8.333333333333%; }

.grid__offset-12 { margin-left: 100%; }
.grid__offset-11 { margin-left: 91.666666666667%; }
.grid__offset-10 { margin-left: 83.333333333333%; }
.grid__offset-9 {  margin-left: 75%; }
.grid__offset-8 {  margin-left: 66.666666666667%; }
.grid__offset-7 {  margin-left: 58.333333333333%; }
.grid__offset-6 {  margin-left: 50%; }
.grid__offset-5 {  margin-left: 41.666666666667%; }
.grid__offset-4 {  margin-left: 33.333333333333%; }
.grid__offset-3 {  margin-left: 25%; }
.grid__offset-2 {  margin-left: 16.666666666667%; }
.grid__offset-1 {  margin-left: 8.333333333333%; }
.grid__columnspecial1{
    margin-top: 60px;
}
.grid__row1{
    height: 600px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    top:50%;
    left: 50%;
    margin: 0;
}
.grid__row2{

    background-color: #F2F2F2;
    text-overflow: ellipsis;
    overflow: hidden;
     height: 2500px;


}
.grid__row3{
    height: 600px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    top:50%;
    left: 50%;
}
.grid__row4{
    height: 600px;
}
.grid__row5{
    height: 400px;
}
.grid__row6{
    background-color: #F2F2F2;
    text-overflow: ellipsis;
    overflow: hidden;
     height: 200px;


}
.grid__row7{
    background-color: #F2F2F2;
    text-overflow: ellipsis;
    overflow: hidden;
     height: 2000px;

}

.grid__row8{
    background-color: #F2F2F2;
    text-overflow: ellipsis;
    overflow: hidden;
     height: 600px;
}
.grid__row9{
    background-color: #F2F2F2;
    text-overflow: ellipsis;
    overflow: hidden;
     height: 1400px;
}

.background1{
   
    background-image: url("../img/tower.jpg");

}
sect {
    height: 400px;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    text-overflow: ellipsis;
    
    
    
}
.sectOne{
    background-image: url("../img/tower.jpg");
    height: 400px;

}
.breedte{
    height: 250%;
    width: 80%;
    margin: auto;
}

h1,h2,h3 {
    text-align: center;
    margin: 5px;
}
h1 {
    font-size: 80px;
}
#hoofdtitel {
    padding-top: 7%;
}
h3{
     text-align: center;
     clear: both;
     font-size: 50px;

 }
p{
    font-size: 15px;
    text-align: center;
}

.typografie {
    margin-top: 40px;
height: 300px;
}



.knoppen{
height: 200px;

}
.logos {
    height: 300px;
    text-align: center;
}
.kleur{
    height: 200px;
    width: 100%;
    clear: none;
    float: left;
    border: 1px solid #4D4D4D;
    text-align: center;
    margin: 5%;
   
}
.grid__height{
    height: 200px;
}
.kleurtjes {
    float: left;
    text-align: center;
    margin: 4.16%

}
.kleur1{
    background-color: #4D4D4D;

}
.kleur2 {
    background-color: #C5AD74;
    
}
.kleur3 {
    background-color: #F2F2F2;
    
}


.btn {
    
    margin: 0 auto;
    margin-top: 5%;
    -webkit-transition: all .5s;
    width: 200px;
    background-color: #4D4D4D;
    color: white;
    position: relative;
    max-height: 60px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .5),
    1px 1px 5px rgba(0, 0, 0, .3);
    clear: both;
}
.btn:hover{
    background-color: white;
    color: #4D4D4D;
}
.foto1{
    position: relative;
    float: left;
    width: 25%;
    margin: 2%;
    margin-left: 37%;
    height: 400px;
    border: 1px solid #4D4D4D;
    overflow: hidden;
}
.center{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    height: 400px;
    position: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4D4D4D;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  opacity: 0.8;
}

.foto1:hover .overlay {
  bottom: 0;
  height: 100%;
}

.fototext {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.container{
      position: relative;
    width: 100%;
}
.container:hover .overlay {
  width: 100%;
}
.icons{
    text-align: center;

}
.icon {

    margin: 20px;
}
.teamfoto{
    margin-top: 20px;
    border-radius: 200px;
}
.fototeam{
    text-align: center;
}